.triangle-carrier {
    height: 0;
    border-bottom: 2pc solid white;
    border-left: 23pc solid #2840f7;
    transition: height 1s ease-in-out;
    animation: expand 1.2s;
}

.triangle_dark {
    border-left: 23pc solid #16171b;
    animation: disband 1.2s;
}

.header-table {
    width: 77%;
}

.header-table td {
    font-size: .7em;
    letter-spacing: 1.7px;
    animation: fade-in .5s;
}

@keyframes expand {
    from {
        border-left: 12pc solid #2840f7;
    }
    to {
        border-left: 23pc solid #2840f7;
    }
}

@keyframes disband {
    from {
        border-left: 12pc solid #16171b;
    }
    to {
        border-left: 23pc solid #16171b;
    }
}

@keyframes fade-in {
    from {
        letter-spacing: 10px;
    }
    to {
        letter-spacing: 1.7px;
    }
}