.chartDiv {
    padding-inline: 1em;
}

@media (min-width: 1066px) {
    .chartDiv {
        padding-inline: unset;
    }
}

@media (min-width: 960px) {
    #large-app .country-paragraph {
        font-size: 1.15em;
    }
}